<mat-card>
    <mat-card class="box">
        <h4>Please fill out the form.</h4>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First name">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last name">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Middle Name</mat-label>
            <input matInput placeholder="Middle name">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Ex. 62B Kalipayan St."></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Number</mat-label>
            <input type="number" matInput placeholder="Contanct No.">
        </mat-form-field>
        <button mat-button>Submit</button>
    </mat-card>
</mat-card>